SVPL_PBX_DB__MASTER_HOST=127.0.0.1
SVPL_PBX_DB__PORT=6544
SVPL_PBX_DB__USERNAME=osips_wrighter
SVPL_PBX_DB__PASSWORD=
SVPL_PBX_DB__NAME=svpl_pbx
SVPL_PBX_DB__DB_SCHEMA=svpl

# добавлено для модуля шаблонов
TEMPLATES_CONTROLLER_HOST=127.0.0.1
TEMPLATES_CONTROLLER_PORT=8085

AUTH__PUBLIC_KEY_PATH=/opt/provisioning/rsa_keys/pub.pem

API_HOST=0.0.0.0
API_PORT=8082
LOG_PATH=/opt/provisioning/account_registrator/log/account_registrator.log
