TEMPLATES_MODULE__HOST=127.0.0.1
TEMPLATES_MODULE__PORT=8085

JWT_AUTH_MODULE__HOST=127.0.0.1
JWT_AUTH_MODULE__PORT=8081

AUTH__PUBLIC_KEY_PATH=/opt/provisioning/rsa_keys/pub.pem

AUTH_CREDENTIALS__LOGIN=avaya_config_generator
AUTH_CREDENTIALS__PASSWORD=

HOST=127.0.0.1
PORT=8080
LOG_DIR_PATH=/opt/provisioning/avaya_config_generator/log/avaya_config_generator.log
