USERS_DB__MASTER_HOST=10.106.27.203
USERS_DB__PORT=6544
USERS_DB__USERNAME=ift_prov_auth
USERS_DB__NAME=ift_provisioning_auth
USERS_DB__DB_SCHEMA=ift_provisioning_auth_schema

JWT_SECRET__ALGORITHM=RS256
JWT_SECRET__TOKEN_EXPIRE_MINUTES=20
JWT_SECRET__REFRESH_TOKEN_EXPIRE_MINUTES=120

META_SUDIR__URL_ALPHA=https://idp02.auth-alpha-ift.delta.sbrf.ru/auth/realms/alpha/protocol/openid-connect/certs
META_SUDIR__URL_SIGMA=https://jwks.auth-alpha-ift.delta.sbrf.ru:8001/auth/realms/sigma/protocol/openid-connect/certs

AUDIT_MODULE__PROTOCOL=http
AUDIT_MODULE__HOST=127.0.0.1
AUDIT_MODULE__PORT=9000

AUDIT_MODULE__CHECK_USER_AUDIT=/web/new/contains

KAFKA__BOOTSTRAP_SERVERS=tvldq-tel000006.delta.sbrf.ru:9093
KAFKA__TOPIC=provisioning_auth.provisioning_auth_schema.user

API_PORT=8081
API_HOST=0.0.0.0

LDAP__HOST=ldaps://NLB-LDAP-Sigma081.sigma.sbrf.ru
LDAP__LOGIN="CN=CAB-SA-CMDBLDAP,OU=Service Accounts,OU=CAB,OU=Sberbank,DC=sigma,DC=sbrf,DC=ru"
LDAP__GROUP=CN=SU-UGS,OU=Inactive,OU=Distribution Groups,OU=Exchange,OU=ALL,OU=Sberbank,DC=sigma,DC=sbrf,DC=ru
LDAP__OU_SEARCH=OU=Users,OU=CAB,OU=Sberbank,DC=sigma,DC=sbrf,DC=ru

MIGRATION__ROLES=true
MIGRATION__CREDENTIALS_FILE_PATH=/opt/provisioning/jwt_auth/tmp/credentials.json
LOGS_DIR_PATH=/opt/provisioning/jwt_auth/log/

SECMAN__PROTOCOL=https
SECMAN__HOST=t.secrets.delta.sbrf.ru

SECMAN__NAMESPACE__VAULT_NAMESPACE=CI00377836_CI01940378
SECMAN__NAMESPACE__VAULT_ROLE_ID=e19e3425-a33f-4f78-3359-4b99d5a97149
SECMAN__NAMESPACE__AUTH__VAULT_SECRET_PATH=/A/IFT/JEN/JWT_AUTH/KV/JWT
SECMAN__NAMESPACE__REFRESH__VAULT_SECRET_PATH=/A/IFT/JEN/JWT_AUTH/KV/JWT
SECMAN__NAMESPACE__JWT__VAULT_SECRET_PATH=/A/IFT/JEN/JWT_AUTH/KV/JWT
SECMAN__NAMESPACE__TECH_USERS__VAULT_SECRET_PATH=/A/IFT/JEN/JWT_AUTH/KV/TECH_USERS

SECMAN__NAMESPACE__WRAPPED_TOKEN_TTL=43200
SECMAN__NAMESPACE__WRAPPED_TOKEN_FILE_PATH=/opt/provisioning/jwt_auth/tmp/secret_id.wrap
