AUTH_SERVICE_URL = http://127.0.0.1:8081
TEMPLATE_SERVICE_URL = http://127.0.0.1:8085

PROVISIONING_SERVER = 10.48.176.178

JWT_AUTH__LOGIN = user
JWT_AUTH__PASSWORD =

DATABASE__DRIVER = postgresql+asyncpg
DATABASE__USERNAME = ift_prov_auth
DATABASE__PASSWORD = 

DATABASE__HOST = 10.106.27.203
DATABASE__PORT = 6544
DATABASE__NAME = ift_provisioning
DATABASE__SCHEMA_NAME = configuration_dect

APP__HOST = 0.0.0.0
APP__PORT = 8090

BS__MIGRATION = False

# БС 670
BS__LOGIN = admin
BS__PASSWORD =
BS__REQUEST_PERIOD_SECONDS = 180

# БС 510
BS__LOGIN_510 = FDMcpe
BS__PASSWORD_510 =

BS__LOGIN_CR = FDMacs
BS__PASSWORD_CR =

BS__REQUEST_PERIOD_MINUTES = 3
BS__TR069_REQUEST_PERIOD_SECONDS = 120

LOG_FILE_PATH = /opt/provisioning/dect_config_generator/log
ALEMBIC_PATH = /opt/provisioning/dect_config_generator/env/alembic.ini
