API_HOST=127.0.0.1
API_PORT=8089

ACTIVATION_DB__MASTER_HOST=10.106.27.203
ACTIVATION_DB__PORT=6544
ACTIVATION_DB__USERNAME=ift_prov_auth
ACTIVATION_DB__PASSWORD=
ACTIVATION_DB__NAME=ift_provisioning
ACTIVATION_DB__DB_SCHEMA=ift_activation_schema

AUTH__PUBLIC_KEY_PATH=/opt/provisioning/rsa_keys/pub.pem
SVPL_AUTH__PROTOCOL=https
SVPL_AUTH__HOST=10.56.138.24
SVPL_AUTH__PORT=8080
SVPL_AUTH__USERNAME=cmdb-lama
SVPL_AUTH__PASSWORD=

SVPL__PROTOCOL=https
#SVPL__HOST=10.56.138.180
SVPL_HOST=10.26.109.215
SVPL__PORT=8000

TEMPLATES_CONTROLLER__PROTOCOL=http
TEMPLATES_CONTROLLER__HOST=127.0.0.1
TEMPLATES_CONTROLLER__PORT=8085

ACCOUNT_REGISTRATOR__PROTOCOL=http
ACCOUNT_REGISTRATOR__HOST=127.0.0.1
ACCOUNT_REGISTRATOR__PORT=8082

JWT_AUTH__PROTOCOL=http
JWT_AUTH__HOST=127.0.0.1
JWT_AUTH__PORT=8081
JWT_AUTH__USERNAME=user
JWT_AUTH__PASSWORD=

CMDB__PROTOCOL=http
CMDB__HOST=10.36.208.229
CMDB__USERNAME=discovery
CMDB__PASSWORD=

CODE_RANGE__TTL=2

LOGS_DIR_PATH=/opt/provisioning/activation/log


